
<div class="container mt-5" *ngIf="flightList && flightList.length > 0; else showThis">
    <p-table  [columns]="cols"
              [value]="flightList"
              [paginator]="true"
              [rows]="10">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th class="text-center" *ngFor="let col of columns"  [pSortableColumn]="col.field"
              [ngStyle]="{'width': col.width}">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-flight>
        <tr>
          <td class="text-center">{{flight.flightId}}</td>
          <td class="text-center">{{flight.airlineName}}</td>
          <td class="text-center">{{flight.fromLocation}}</td>
          <td class="text-center">{{flight.toLocation}}</td>
        </tr>
      </ng-template>
    </p-table>
</div>


  <ng-template #showThis>
    <div class="container boxLayout">
      <div class="text-center">
        <h4>No Flights are Operated Currently</h4>
      </div>
    </div>
  </ng-template>
